@font-face {
    font-family: "yizhiqingshu";
    src: url("yizhiqingshu.eot"); /* IE9 */
    src: url("yizhiqingshu.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("yizhiqingshu.woff") format("woff"), /* chrome、firefox */
    url("yizhiqingshu.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("yizhiqingshu.svg#yizhiqingshu") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


